/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/*start line*/
/*all*/
body {
    width: 100%;
    margin: 0 auto;
    font-size: 13px;
}
a {
    text-decoration: none;
    color: #000;
}

/*header*/
.header {
    width: 100%;
    height: 970px;
    background-color: #F4F4F4;
    position: relative;
}
.header_ctr {
    float: left;
}

/*ロゴ*/
.header .logo {
    width: 200px;
    padding-top: 40px;
    padding-left: 40px;
}
.header .logo img {
    width: 200px;
}

/*テキスト*/
.header_txt {
    padding: 10px;
    width: 350px;
    float: left;
    text-align: left;
    position: absolute;
    bottom: 50px;
    left: 60px;
    z-index: 1;
}
.header_txt h2 {
    letter-spacing: 3.5px;
    font-size: 19px;
    font-weight: normal;
    margin-bottom: 40px;
}
.header_txt span {
    line-height: 2;
    letter-spacing: 1.5px;
    font-size: 13px;
}
.txt_white {
    color: #fff;
}

/*画像*/
.header_wrap {
    position: absolute;
    top: 0;
    right: 0;
}
.header_wrap img {
    width: 1350px;
    height: 970px;
}

/*nav*/
.nav {
    font-size: 16px;
    position: relative;
}
.nav_list {
    width: 440px;
    display: flex;
    position: absolute;
    top: -60px;
    right: 90px;
}
.nav_item {
    padding: 20px;
}
.nav_item a {
    color: rgb(94, 94, 94);
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    position: relative;
}
.nav_item a::after {
    position: absolute;
    content: '';
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #FFF;
    transition: all 0.3s ease 0s;
}
.nav_item a:hover {
    color: #fff;
    transition: .5s;
    cursor: pointer;
}
.nav_item a:hover::after {
    width: 100%;
}

/*main*/
.inner {
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}

.link_btn {
    font-size: 16px;
}

.heading_primary {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}
.heading_primary_sub {
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

/*info*/
.info {
    margin-top: 80px;
}
.info .inner {
    height: 200px;
}
.head {
    display: flex;
    position: relative;
}

/*タイトル*/
.title {
    width: 200px;
    height: 50px;
    padding: 10px;
}
.title p {
    margin-top: 5px;
}

/*コンテナ*/
.info_ctr {
    width: 1021px;
    height: 104px;
    display: flex;

}
.info_box {
    width: 480px;
    height: 94px;
    box-shadow: 2px 2px 4px grey;
    position: relative;
}

.info_item {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}
.info_item img {
    width: 94px;
    height: 94px;
    display: inline-block;
}
/*リンクボタン*/
.info a {
    position: absolute;
    top: 20px;
    right: 40px;
}

/*about*/
.about {
    margin-top: 80px;
}

/*テキストコンテナ*/
.a-txt_wrap {
    width: 40%;
    height: 990px;
    background-color: #F4F4F4;
    float: left;
}
.a-txt_inr {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

/*タイトル*/
.a-txt_inr .title {
    margin-top: 120px;
    margin-bottom: 80px;
}

/*テキスト*/
.a-txt_inr h2 {
    text-align: left;
    margin-bottom: 50px;
    font-size: 18px;
    font-weight: normal;
}
.a-txt_inr span {
    display: inline-block;
    text-align: left;
    margin-bottom: 120px;
    line-height: 3;
}

/*画像*/
.a-wrap img {
    width: 60%;
    height: 990px;
}

/*event*/
.event {
    margin-top: 100px;
}

/*タイトル*/
.event .title {
    margin-bottom: 30px;
}

/*カード*/
.card_list {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
}
.card {
    width: 50%;
    height: 300px;
}
.card_list .lf {
    margin-right: 10%;
}

/*カード画像*/
.c-wrap {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    background-color: rgb(73, 73, 73);
}

/*カードテキスト*/
.c-txt  h3{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}

/*リンクボタン*/
.event .link_btn {
    text-align: center;
}

/*team*/
.team {
    margin-top: 100px;
}
.t-continer {
    width: 100%;
    background-color: #F4F4F4;
}

/*タイトル*/
.team .title {
    width: 40%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px;
}
.team .heading_primary,.team .heading_primary_sub {
    width: 70%;
    text-align: left;
    margin: 0 auto;
}

/*カード*/
.t-card_list {
    width: 1100px;
    margin: 0 auto;
}
.t-card {
    width: 100%;
    height: 730px;
    background-color: #fff;
    margin-bottom: 100px;
}

/*カードテキスト*/
.t-c-txt {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}
.t-c-title {
    padding: 50px 0;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 3px;
}
.t-c-txt span {
    line-height: 2;
}

/*カード画像*/
.t-c-wrap {
    width: 100%;
    height: 460px;
    background-color: rgb(94, 94, 94);
}

/*リンクボタン*/
.team .link_btn {
    text-align: center;
    padding-bottom: 100px;
}

/*wrap*/
.wrap {
    margin-top: 100px;
}

.w-head {
    width: 100%;
    height: 280px;
    text-align: center;
    margin-bottom: 10px;
}
.w-head img {
    width: 300px;
    padding: 40px 0;
}
.w-head p {
    font-size: 16px;
    letter-spacing: 2px;
    margin-top: 30px;
    padding-left: 20px;
}

.w-wrap {
    width: 100%;
    height: 450px;
    background-color: rgb(75, 75, 75);
}

/*gallery*/
.gallery {
    margin-top: 100px;
}
.g-continer {
    width: 100%;
    background-color: #F4F4F4;
}

/*タイトル*/
.gallery .title {
    width: 40%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px;
}
.gallery .heading_primary,.gallery .heading_primary_sub {
    width: 70%;
    text-align: left;
    margin: 0 auto;
}

/*画像*/

/*リンクボタン*/
.gallery .link_btn {
    text-align: center;
    padding: 40px;
}

/*footer*/
.f-continer {
    width: 100%;
    height: 585px;
    background-color: #111111;
    display: flex;
}
/*画像*/
.f-wrap {
    width: 50%;
    text-align: center;
    padding-top: 15%;
}
.f-wrap img {
    width: 400px;
}

/*テキスト*/
.f-card_list {
    width: 50%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}
.f-card_item {
    width: 300px;
    height: 90px;
    margin-right: 30px;
    border-bottom: 1px solid #fff;
}
.f-card_item:hover {
    opacity: 0.6;
    transition: .3s;
}

.f-card_item a span,.f-card_item a p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}
.f-card_item a span {
    display: inline-block;
    font-size: 24px;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.f-card_item a p {
    font-size: 10px;
    letter-spacing: 1.3px;
    padding-bottom: 20px;
}

/*copy right*/
.copy-right {
    width: 100%;
    height: 80px;
    color: rgb(46, 46, 46);
    text-align: center;
    line-height: 8;
    font-size: 10px;
}